@import "bootstrap/dist/css/bootstrap.min.css";

/*Imagenes de las tarjetas*/
.car-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.img-fluid1 {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.wax-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.glass-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}


.tire-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.vinyl-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.interior-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.des-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}

.use-image {
    width: 100%;
    height: auto;
    transform: translateX(0%);
}


.product-image {
    position: absolute;
    /* Asegúrate de que esté en posición absoluta o relativa */
    width: 200px;
    bottom: -170px;
    left: 50%;
    /* Posiciona al 50% del contenedor */
    transform: translateX(150%);
    /* Mueve la imagen al centro */
}

.product1-image {
    position: absolute;
    /* Asegúrate de que esté en posición absoluta o relativa */
    width: 400px;
    bottom: -120px;
    left: 50%;
    /* Posiciona al 50% del contenedor */
    transform: translateX(60%);
    /* Mueve la imagen al centro */
}
/*final de las imagenes*/


/*Cambia el color de los headers de cada cosa*/
/*Header de la primera pagina*/
.primer-header {
    background-color: #c51e1e;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

.segundo-header {
    background-color: #b14d23;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

.tercero-header {
    background-color: #9c7721;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}
/*Final de la primera pagina headers*/

/*Header de la segunda pagina*/
.cuarto-header {
    background-color: #4f32b0;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

.quinto-header {
    background-color: #55c6dd;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

.sexto-header {
    background-color: #2b6ab8;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

.septimo-header {
    background-color: #b6a323;
    color: white;
    padding: 20px;
    text-align: right;
    font-size: 2rem;
    font-weight: bold;
}

/*Final de la segunda pagina headers*/



/*Css del index*/
/* Hero Section */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://images.hdqwalls.com/download/dodge-challenger-srt-hellcat-widebody-2018-4k-3b-1280x2120.jpg');
    /* Cambia por la imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.bg-boton1 {
    background-color: #e63946;
    border-radius: 8px;
    /* Opcional: esquinas redondeadas */
    border-color: #e63946;
    color: white;

}

.hero-content {
    max-width: 800px;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.hero-subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-button {
    padding: 10px 20px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-button:hover {
    background-color: #d62828;
}

/* About Section */
.about-section {
    padding: 50px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}

body {
    font-family: 'Poppins', sans-serif;
}

.bg-light {
    background: #0e87ff;
    padding: 15px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Opcional: esquinas redondeadas */
}

.body {
    background: #212529;
}

/*Termina la parte del css del index*/


/*Estilos de categorycard*/

.header h1 {
    font-size: 2rem;
    font-weight: bold;
}

.h1-info {
    font-size: 4rem;
}

.p-letters {
    font-size: 2rem;
}



.text-section p {
    margin-bottom: 10px;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.category-card {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.category-card img {
    transition: transform 0.3s ease-in-out;
}

.category-card:hover img {
    transform: scale(1.1);
}

.category-overlay {
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.relative-container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}


.category-card:hover .category-overlay {
    opacity: 1;
}

.category-overlay h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.category-overlay .btn {
    font-size: 1rem;
    font-weight: bold;
}

/*Final de los css de category card*/



/*Styles de banner de navegacion*/
.navbar-custom {
    background-color: #ffffff;
    /* Cambia este color del fondo */

}

.navbar-custom .nav-link {
    color: #000000;
    /* Color de los enlaces */
    font-weight: bold;
}

.nav-item1 {
    position: relative;
    /* Si necesitas ajustar sobre una imagen */
    margin-left: 30px;
    /* Ajusta este valor para mover el texto hacia la derecha */
    /* También puedes usar padding si prefieres*/
    margin-top: 10px;
}

.nav-item2 {
    margin-top: 10px;
}

.nav-item3 {
    margin-top: 10px;
}



.navbar-custom .nav-link:hover {
    color: #28a745;
    /* Color cuando pasa el mouse */
}

.navbar-custom .navbar-brand img {
    height: 75px;
    /* Tamaño del logo */
}

.navbar-custom .dropdown-menu {
    background-color: #343a40;
    /* Fondo del menú desplegable */
    border: none;
    /* Quita bordes */
}

.navbar-custom .dropdown-item {
    color: #ffffff;
}

.navbar-custom .dropdown-item:hover {
    background-color: #28a745;
    /* Fondo cuando pasa el mouse */
    color: #ffffff;
}

/*Color del boton search*/
.navbar-custom .btn-outline-success {
    color: #000000;
    border-color: #28a745;
}

.navbar-custom .btn-outline-success:hover {
    background-color: #28a745;
    border-color: #28a745;
}
/*Final de estilos de barra de busqueda*/

/* Estilo general */
h1 {
    font-size: 24px;
}

/* Pantallas medianas */
@media (min-width: 768px) {
    h1 {
        font-size: 32px;
    }
}

/* Pantallas grandes */
@media (min-width: 1200px) {
    h1 {
        font-size: 40px;
    }
}

.navbar-brand {
    width: 5%;
    height: 100%;
}


.category-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}