---
import Mainlayout from "../Layouts/Mainlayout.astro";
import '../Styles/global.css'

---

<Mainlayout>
<!-- Primera tarjeta -->
<div id="Aromatizante-Carro-Nuevo" class="container my-4 p-3 bg-white position-relative" data-name="wash and wax concentrate">
    <div class="header text-white text-end py-3 px-4 septimo-header">
        <h1 class="display-5">Complementarios</h1>
    </div>
    <div class="content d-flex flex-column flex-md-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative col-md-6">
            <img src="../../public/9.jpeg" alt="Carro Clásico" class="car-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4 col-md-6">
            <h2 class="h5 fw-bold">Aromatizante Carro Nuevo:</h2>
            <p>Jabón automotriz de alta gama, especialmente desarrollado para los más exigentes.</p>
            <p>Remueve la suciedad fácilmente en forma exhaustiva, protege la superficie de las inclemencias del ambiente, dejando un acabado suave y de alto brillo por más tiempo.</p>
            <p><strong>Fórmula libre de sal.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> 
                En un recipiente limpio, diluya de 30-60 ml de shampoo (1 a 2 onzas) por galón de agua, mezcle y aplique a la superficie previamente humedecida. 
                Retire el producto con suficiente agua. 
                Se recomienda no dejar secar, elimine el rastro de agua para evitar huella de agua en la carrocería (water spots).
            </p>
             <!-- Botones -->
             <div class="d-flex gap-2"> </div>
             <button class="btn btn-primary"> <!--Este falta de la ficha tecnica -->
               <a
                 href="/assets/pdf/F_T_Aromatizante.pdf"
                 download="Ficha_Tecnica_Wash.pdf"
                 style="text-decoration: none; color: white;"
                 >Ficha Técnica</a
               >
             </button>
        </div>
    </div>
  </div>
  
  <!-- Segunda tarjeta -->
  <div id="wash-and-wax-concentrate" class="container my-4 p-3 bg-white position-relative" data-name="wash and wax concentrate">
    <div class="header text-white text-end py-3 px-4 octavo-header">
        <h1 class="display-5">Complementarios</h1>
    </div>
    <div class="content d-flex flex-column flex-md-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative col-md-6">
            <img src="../../public/2.0.jpeg" alt="Carro Clásico" class="car-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4 col-md-6">
            <h2 class="h5 fw-bold">Botella Con Atomizador Para Solvente:</h2>
            <p>Jabón automotriz de alta gama, especialmente desarrollado para los más exigentes.</p>
            <p>Remueve la suciedad fácilmente en forma exhaustiva, protege la superficie de las inclemencias del ambiente, dejando un acabado suave y de alto brillo por más tiempo.</p>
            <p><strong>Fórmula libre de sal.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> 
                En un recipiente limpio, diluya de 30-60 ml de shampoo (1 a 2 onzas) por galón de agua, mezcle y aplique a la superficie previamente humedecida. 
                Retire el producto con suficiente agua. 
                Se recomienda no dejar secar, elimine el rastro de agua para evitar huella de agua en la carrocería (water spots).
            </p>

        </div>
    </div>
  </div>
  
  <!-- Tercera tarjeta -->
  <div id="wash-and-wax-concentrate" class="container my-4 p-3 bg-white position-relative" data-name="wash and wax concentrate">
    <div class="header text-white text-end py-3 px-4 noveno-header">
        <h1 class="display-5">Complementarios</h1>
    </div>
    <div class="content d-flex flex-column flex-md-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative col-md-6">
            <img src="../../public/9.jpeg" alt="Carro Clásico" class="car-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4 col-md-6">
            <h2 class="h5 fw-bold">Satinizador Desinfectante Antibacterial Superficies:</h2>
            <p>El AC5 es un sanitizador bactericida de amplio espectro, listo para usar, 
              eficaz contra hongos, virus y levaduras, que no requiere dilución 
              y se aplica mediante aspersión sin necesidad de enjuagar.</p>

            <p>Propiedades anticorrosivas para metales como acero, hierro, aluminio, cobre y bronce.</p>
            <p>Amigable con el medio ambiente.</p>
            <p>Disponible en envases de polipropileno y polietileno de alta densidad.</p>
            <p><strong>Fórmula libre de sal.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>3.785 L</li>
                <li>19 L</li>
                <li>30 L</li>
                <li>208 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> 
              El producto, con acción antimicrobiana, se utiliza en diversos campos manteniendo un contacto mínimo de 60 segundos. 
              Se usa en soluciones de 200 ppm para sanitizar equipos de alimentos, pediluvios en industrias alimentarias,
               y huevos. En el lavado de ropa, se añaden 90 ml por tanda en la etapa final de desinfección.
            </p>
            <div class="d-flex gap-2">
              <button class="btn btn-primary">
                <a
                  href="/assets/pdf/F_T_Sanitizador.pdf"
                  download="Ficha_Tecnica_Satinizador.pdf"
                  style="text-decoration: none; color: white;"
                  >Ficha Técnica</a
                >
              </button>
              <button class="btn btn-secondary">
                <a
                  href="/assets/pdf/F_D_S_Sanitizador.pdf"
                  download="Hoja_de_Seguridad_Satinizador.pdf"
                  style="text-decoration: none; color: white;"
                  >Hoja de Seguridad</a
                >
              </button>
            </div>
        </div>
    </div>
  </div>

</Mainlayout>