---
import Mainlayout from "../Layouts/Mainlayout.astro";
---

<Mainlayout>
    <section class="contact-container">
        <h1 class="contact-title">Contáctenos</h1>
        <form id="form" class="contact-form">
            <div class="form-row">
                <div class="form-group">
                    <label for="from_name">Nombre completo</label>
                    <input
                        type="text"
                        name="from_name"
                        id="from_name"
                        placeholder="Enter your name"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="message">Mensaje</label>
                    <input
                        type="text"
                        name="message"
                        id="message"
                        placeholder="Enter your message"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="email">email</label>
                    <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter your email"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="phone">Numero</label>
                    <input
                        type="text"
                        name="phone"
                        id="phone"
                        placeholder="Enter your phone number"
                    />
                </div>
            </div>

            <div class="form-row">
                <button type="submit" id="button" class="btn-submit"
                    >Enviar Consulta</button
                >
            </div>
        </form>
    </section>

    <section class="contact-container">
        <div class="contact-info">
            <h2 class="info-title">Información de Contacto</h2>
            <div class="info-box">
                <p><strong>Teléfono:</strong> 2438-9010</p>
                <p>
                    <strong>Email:</strong>
                    <a href="mailto:pedidos@cromatec.com"
                        >pedidos@cromatec.com</a
                    >
                </p>
                <p><strong>Dirección:</strong></p>
                <address>
                    1.5 kms al oeste de Panasonic<br />
                    San Rafael de Alajuela<br />
                    Costa Rica
                </address>
            </div>
        </div>
    </section>
</Mainlayout>



<script>
 import emailjs from 'emailjs-com'; // Asegúrate de instalarlo: npm install emailjs-com
  

emailjs.init('hq23gvc_a-zHudg2J'); // Reemplaza 'TU_USER_ID' con tu User ID

document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('button') as HTMLButtonElement | null;
    const form = document.getElementById('form') as HTMLFormElement | null;

  if (!form || !btn) return;

  form.addEventListener('submit', function (event) {
    event.preventDefault();

    btn.value = 'Sending...';

    const serviceID = 'default_service';
    const templateID = 'template_eoffrbz';

    emailjs
      .sendForm(serviceID, templateID, this)
      .then(() => {
        btn.value = 'Send Email';
        alert('Message sent!');
      })
      .catch((err) => {
        btn.value = 'Send Email';
        alert(JSON.stringify(err));
      });
  });
});

  </script>
  