---
import Mainlayout from "../Layouts/Mainlayout.astro";
import '../Styles/global.css';

---

<Mainlayout>

<!-- Primera Tarjeta (Best Wax) -->
<div id="best-wax" class="container my-4 p-3 bg-white position-relative" data-name="best wax">
    <div class="header text-white text-end py-3 px-4 cuarto-header">
        <h1 class="display-5">Detallado</h1>
    </div>
    <div class="content d-flex flex-column flex-sm-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative">
            <img src="../../public/3.jpeg" alt="Best Wax" class="wax-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4">
            <h2 class="h5 fw-bold">Best Wax:</h2>
            <p>Cera en crema que genera máximo brillo y protege la superficie de las inclemencias del ambiente por más tiempo.</p>
            <p><strong>Enriquecido con carnauba:</strong></p>
            <p><strong>Fácil de aplicar y remover</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Aplique directamente sobre la superficie, la carrocería puede estar seca o humedecida.</p>
        </div>
    </div>
</div>

<!-- Segunda Tarjeta (Glass Cleaner Anti-Fogging) -->
<div id="glass-cleaner-anti-fogging" class="container my-5 p-3 bg-white position-relative" data-name="glass cleaner anti fogging">
    <div class="header text-white text-end py-3 px-4 quinto-header">
        <h1 class="display-5">Detallado</h1>
    </div>
    <div class="content d-flex flex-column flex-sm-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative">
            <img src="../../public/5.0.jpeg" alt="Glass cleaner" class="glass-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4">
            <h2 class="h5 fw-bold">Detallador De Molduras Y Llantas:</h2>
            <p>Novedosa formulación diseñada para limpieza de cristales con ausencia total de alcohol, cuidando el medio ambiente.</p>
            <p><strong>No deja rayas ni manchas, genera un efecto anti adherente y antiempañante.</strong></p>
            <p><strong>Acabado brillante, fácil de limpiar y de larga duración.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Puede aplicarse sobre los cristales y dispersarse con toalla de microfibra, para dar acabado final utilice una toalla de microfibra limpia y seca.</p>
            <!-- Botones -->
          <div class="d-flex gap-2"> </div>
          <button class="btn btn-primary"> <!--Este falta de la ficha tecnica -->
            <a
              href="/assets/pdf/F_T_Molduras.pdf"
              download="Ficha_Tecnica_Molduras.pdf"
              style="text-decoration: none; color: white;"
              >Ficha Técnica</a
            >
          </button>
        </div>
    </div>
</div>

<!-- Tercera Tarjeta (Tire Dressing) -->
<div id="tire-dressing" class="container my-5 p-3 bg-white position-relative" data-name="tire dressing">
    <div class="header text-white text-end py-3 px-4 sexto-header">
        <h1 class="display-5">Detallado</h1>
    </div>
    <div class="content d-flex flex-column flex-sm-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative">
            <img src="../../public/5.jpeg" alt="Tire Dressing" class="tire-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4">
            <h2 class="h5 fw-bold">Tire Dressing:</h2>
            <p>Diseñado para el mantenimiento de las llantas, molduras, plásticos y hule, brinda un acabado brillante y resistente a la lluvia. Evita la adhesión del polvo y facilita su desprendimiento con solo el roce del viento.</p>
            <p><strong>Humecta para evitar el agrietamiento por fatiga del material y restaura su color original.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Aplique directo sobre la superficie con atomizador y distribuya con paño de microfibra o espuma de poliuretano. Fórmula especial para exteriores.</p>
            <div class="d-flex gap-2">
                <button class="btn btn-primary">
                  <a
                    href="/assets/pdf/F_T_Tires.pdf"
                    download="Ficha_Tecnica_Tires.pdf"
                    style="text-decoration: none; color: white;"
                    >Ficha Técnica</a
                  >
                </button>
                <button class="btn btn-secondary"><!--No tiene la hoja de seguridad -->
                  <a
                    href="/assets/pdf/F_D_S_Tire.pdf"
                    download="Hoja_de_Seguridad_Tires.pdf"
                    style="text-decoration: none; color: white;"
                    >Hoja de Seguridad</a
                  >
                </button>
              </div>
        </div>
    </div>
</div>

<!-- Cuarta Tarjeta (Vinyl and Plastic Protectant) -->
<div id="vinyl-and-plastic-protectant" class="container my-5 p-3 bg-white position-relative" data-name="vinyl and plastic protectant">
    <div class="header text-white text-end py-3 px-4 septimo-header">
        <h1 class="display-5">Detallado</h1>
    </div>
    <div class="content d-flex flex-column flex-sm-row align-items-start py-3 border-top border-secondary">
        <div class="image-section flex-shrink-0 position-relative">
            <img src="../../public/6.jpeg" alt="Vinyl Protectant" class="vinyl-image img-fluid mb-5">
        </div>
        <div class="text-section flex-grow-1 ps-4">
            <h2 class="h5 fw-bold">Vinyl And Plastic Protectant:</h2>
            <p>Protege de los rayos UV y deja un acabado brillante. Humecta vinil, hule, plástico y cuero, con efecto anti-peluza no antes visto en el mercado.</p>
            <p><strong>Fragancia vainilla moderna que se impregna en la superficie tratada</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Aplique el producto en el paño de microfibra o espuma y disperse en el interior del vehículo, para exterior se puede aplicar con atomizador sobre carrocería, molduras y motor. Si el producto entra en contacto con los cristales, limpie con EPIK Glass Cleaner.</p>
            <div class="d-flex gap-2">
                <button class="btn btn-secondary">
                  <a
                    href="/assets/pdf/F_D_S_Vynil.pdf"
                    download="Hoja_de_Seguridad_Vynil.pdf"
                    style="text-decoration: none; color: white;"
                    >Hoja de Seguridad</a
                  >
                </button>
              </div>
        </div>
    </div>
</div>


</Mainlayout>