---
import Mainlayout from "../Layouts/Mainlayout.astro";
import CategoryCard from "../Components/CategoryCard.astro";

//server only
const name = "EPIK";
const title = "Home Page-EPIK";
import "../styles/global.css";



---

<Mainlayout title="Home Page - EPIK">
	<div class="container-fluid">
		<section class="hero-section">
			<div class="hero-content">
				<h1 class="hero-title">Productos de Alto Desempeño</h1>
				<p class="hero-subtitle"></p>
				<a
					href="#Categorias"
					class="btn btn-light bg-boton1"
					aria-current="page">Descubrir más</a
				>
			</div>
		</section>

		<section
			class="about-section"
			class="container my-4 p-3 bg-white position-relative"
		>
			<div class="about-content">
				<h1 class="h1-info">Sobre nuestra empresa</h1>
				<p class="p-letters">
					En <strong>EPIK</strong>, ofrecemos productos de alto
					desempeño que garantizan resultados excepcionales. Nos
					enorgullecemos de brindar soluciones efectivas para el
					mantenimiento y proteccion de su vehículo con armonía en el
					ambiente.
				</p>
			</div>
		</section>

		<!-- Sección de categorías -->
		<section id="Categorias" class="categories py-5 bg-dark text-white">
			<div class="container">
				<h2 class="text-center mb-4">Nuestras Categorías</h2>
				<div class="row g-4">
				<CategoryCard/>
				</div>
			</div>
		</section>

		<div
			class="footer d-flex justify-content-between align-items-center mt-4 pt-2 border-top"
		>
		</div>
	</div>

</Mainlayout>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		const searchBar = document.getElementById(
			"searchBar",
		) as HTMLInputElement;

		// Verifica si el elemento existe antes de agregar el event listener
		if (searchBar) {
			searchBar.addEventListener("input", searchCards);
		} else {
			console.error('El elemento con id "searchBar" no se encontró.');
		}
	});

	function searchCards() {
		const query =
			(
				document.getElementById("searchBar") as HTMLInputElement
			)?.value.toLowerCase() || "";
		const cards = document.querySelectorAll(".category-card[data-name]"); // Selecciona solo las tarjetas con data-name

		cards.forEach((card) => {
			const cardElement = card as HTMLElement; // Asegúrate de que sea un HTMLElement
			const name = cardElement.getAttribute("data-name")?.toLowerCase();
			if (name?.includes(query)) {
				cardElement.style.display = "block"; // Muestra la tarjeta
			} else {
				cardElement.style.display = "none"; // Oculta la tarjeta
			}
		});
	}
</script>