---
import Mainlayout from "../Layouts/Mainlayout.astro";
import '../Styles/global.css';

---

<Mainlayout>
 <!--Primera Tarjeta -->
 <div id="ultra-degreaser" class="container my-5 p-3 bg-white position-relative" data-name="ultra degreaser">
    <div class="header text-white text-end py-3 px-4 decimo-header">
        <h1 class="display-5">Limpiadores y Desengrasante</h1>
    </div>
    <div class="row d-flex align-items-center py-3 border-top border-secondary">
        <div class="col-md-6">
            <img src="/src/image/10.0.jpeg" alt="Glass cleaner" class="des-image img-fluid mb-5">
        </div>
        <div class="col-md-6 ps-4">
            <h2 class="h5 fw-bold">Clean And Protect:</h2>
            <p>El Epik Clean And Protect es un limpiador para interiores de vehículos que limpia 
              sin dejar brillo intenso ni películas de silicón, evitando empañamientos. Es eficaz en superficies de cuero, 
              plástico, vinil, tela, pantallas LED y vidrio, y cuenta con un aditivo antiestático que previene la acumulación de polvo 
              y descargas estáticas, ofreciendo un brillo satinado adecuado para los dashboards modernos.</p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> El Epik Clean And Protect viene listo para usar. 
              Se aplica en spray o espuma, usando una franela o cepillo para distribuirlo,
               y luego se recoge la suciedad con un paño húmedo. Si el paño se ensucia mucho, debe lavarse. Finalmente, 
               se pasa una franela limpia y seca para un acabado final.</p>
            <div class="d-flex gap-2">
                <button class="btn btn-primary">
                  <a
                    href="/assets/pdf/F_T_Clean.pdf"
                    download="Ficha_Tecnica_Clean.pdf"
                    style="text-decoration: none; color: white;"
                    >Ficha Técnica</a
                  >
                </button>
                <button class="btn btn-secondary">
                  <a
                    href="/assets/pdf/F_D_S_Clean.pdf"
                    download="Hoja_de_Seguridad_Clean.pdf"
                    style="text-decoration: none; color: white;"
                    >Hoja de Seguridad</a
                  >
                </button>
              </div>
        </div>
    </div>
</div>

<!--Segunda Tarjeta -->
<div id="glass-cleaner-anti-fogging" class="container my-5 p-3 bg-white position-relative" data-name="glass cleaner anti fogging">
    <div class="header text-white text-end py-3 px-4 undecimo-header">
        <h1 class="display-5">Limpiadores y Desengrasante</h1>
    </div>
    <div class="row d-flex align-items-center py-3 border-top border-secondary">
        <div class="col-md-6">
            <img src="/src/image/11.0.jpeg" alt="Glass cleaner" class="glass-image img-fluid mb-5">
        </div>
        <div class="col-md-6 ps-4">
            <h2 class="h5 fw-bold">Eco Metal And Concrete Cleaner:</h2>
            <p>El Limpiador de Metal y Concreto es un producto ecológico diseñado para limpiar estructuras metálicas y 
              superficies de trabajo, eliminando suciedad, hollín, concreto y 
              otros contaminantes sin dañar el metal. Formulado con ácido metansulfónico, es biodegradable y seguro de manejar, 
              a diferencia de ácidos inorgánicos peligrosos.</p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> 
              El Limpiador de Metal y Concreto se aplica por aspersión, manualmente o con un equipo espumador. 
              Actúa de inmediato, limpiando eficazmente concreto, aluminio y acero inoxidable, 
              y previene la eutrofización de las aguas al ser libre de N y P.</p>
            <div class="d-flex gap-2">
                <button class="btn btn-primary">
                  <a
                    href="/assets/pdf/F_T_Metal.pdf"
                    download="Ficha_Tecnica_Metal.pdf"
                    style="text-decoration: none; color: white;"
                    >Ficha Técnica</a
                  >
                </button>
                <button class="btn btn-secondary">
                  <a
                    href="/assets/pdf/F_D_S_Metal.pdf"
                    download="Hoja_de_Seguridad_Metal.pdf"
                    style="text-decoration: none; color: white;"
                    >Hoja de Seguridad</a
                  >
                </button>
              </div>
        </div>
    </div>
</div>

<!--Tercera Tarjeta -->
<div id="eliminador-hollin" class="container my-5 p-3 bg-white position-relative" data-name="eliminador de hollín">
    <div class="header text-white text-end py-3 px-4 duodecimo-header">
        <h1 class="display-5">Limpiadores y Desengrasante</h1>
    </div>
    <div class="row d-flex align-items-center py-3 border-top border-secondary">
        <div class="col-md-6">
            <img src="/src/image/12.0.jpeg" alt="Eliminador de hollín" class="glass-image img-fluid mb-5">
        </div>
        <div class="col-md-6 ps-4">
            <h2 class="h5 fw-bold">Eliminador De Hollín:</h2>
            <p>Novedosa formulación diseñada para limpieza de superficies con presencia de hollín.</p>
            <p><strong>No deja rayas ni manchas, genera un efecto anti adherente y antiempañante.</strong></p>
            <p><strong>Acabado brillante, fácil de limpiar y de larga duración.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Puede aplicarse sobre superficies afectadas por hollín.</p>
        </div>
    </div>
</div>

<!--Cuarta Tarjeta -->
<div id="glass-cleaner-anti-fogging" class="container my-5 p-3 bg-white position-relative" data-name="glass cleaner anti fogging">
    <div class="header text-white text-end py-3 px-4 decimotercero-header">
        <h1 class="display-5">Limpiadores y Desengrasante</h1>
    </div>
    <div class="row d-flex align-items-center py-3 border-top border-secondary">
        <div class="col-md-6">
            <img src="/src/image/4.jpeg" alt="Glass cleaner" class="glass-image img-fluid mb-5">
        </div>
        <div class="col-md-6 ps-4">
            <h2 class="h5 fw-bold">Glass Cleaner Anti Fogging:</h2>
            <p>El Epik Glass Cleaner Anti Fogging es un limpiador de cristales sin alcohol, 
              formulado con materias primas verdes para un bajo impacto ambiental. Contiene un polímero acrílico que evita rayas,
               manchas y acumulación de espuma, dejando un acabado brillante, fácil de limpiar y duradero.
                Además, funciona como antiempañante, evitando que el vapor de agua se adhiera a los cristales.</p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong>El Epik Glass Cleaner Anti Fogging viene listo para usar, 
              sin necesidad de diluirlo. Se aplica en spray sobre los cristales, luego se limpia con papel periódico 
              o una franela limpia y se seca con un trapo seco. Si el trapo se ensucia mucho, debe lavarse antes de continuar.</p>
            <button class="btn btn-primary">
                <a
                  href="/assets/pdf/F_T_Limpiador_Vidrios.pdf"
                  download="Ficha_Tecnica_Limpiador_Vidrios.pdf"
                  style="text-decoration: none; color: white;"
                  >Ficha Técnica</a
                >
              </button>
              <button class="btn btn-secondary">
                <a
                  href="/assets/pdf/F_D_S_Limpiador_Vidrios.pdf"
                  download="Hoja_de_Seguridad_Limpiador_Vidirios.pdf"
                  style="text-decoration: none; color: white;"
                  >Hoja De Seguridad</a
                >
              </button>
      </div>
        </div>
    </div>
</div>

<!--Quinta Tarjeta -->
<div id="ultra-degreaser" class="container my-5 p-3 bg-white position-relative" data-name="ultra degreaser">
    <div class="header text-white text-end py-3 px-4 decimocuarto-header">
        <h1 class="display-5">Limpiadores y Desengrasante</h1>
    </div>
    <div class="row d-flex align-items-center py-3 border-top border-secondary">
        <div class="col-md-6">
            <img src="/src/image/8.jpeg" alt="Ultra Degreaser" class="glass-image img-fluid mb-5">
        </div>
        <div class="col-md-6 ps-4">
            <h2 class="h5 fw-bold">ULTRA DEGREASER:</h2>
            <p>Formula de ultima generación para el desengrase y limpieza de superficies en contacto con grasa, tierra, hollín y otros contaminantes.</p>
            <p><strong>Biodegradable.</strong></p>
            <h3 class="h6">Presentación:</h3>
            <ul class="list-unstyled">
                <li>Atomizador de 600ml</li>
                <li>3.785 L</li>
                <li>20 L</li>
                <li>208.175 L</li>
            </ul>
            <p><strong>Forma de empleo y dosis:</strong> Consulte la ficha técnica para las diluciones recomendadas.</p>
            <div class="d-flex gap-2">
                <button class="btn btn-primary">
                  <a
                    href="/assets/pdf/F_T_Ultra.pdf"
                    download="Ficha_Tecnica_Ultra.pdf"
                    style="text-decoration: none; color: white;"
                    >Ficha Técnica</a
                  >
                </button>
                <button class="btn btn-secondary">
                  <a
                    href="/assets/pdf/F_D_S_Ultra.pdf"
                    download="Ficha_Tecnica_Ultra.pdf"
                    style="text-decoration: none; color: white;"
                    >Hoja De Seguridad</a
                  >
                </button>
        </div>
    </div>
</div>
</Mainlayout>